body {
    margin: 0;
    background-color: #272727;
}

.principal{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display:grid;
    grid-template-areas:
    'verde          vermelho'
    'amarelo        azul';
    grid-gap: 10px;
    background-color: #fff;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}

.azul {
    grid-area: azul;
    background-color: #00bcd4;
    border-bottom-right-radius: 100%;
}

.vermelho {
    grid-area: vermelho;
    background-color: #f44336;
    border-top-right-radius: 100%;
}

.amarelo {
    grid-area: amarelo;
    background-color: #ffeb3b;
    border-bottom-left-radius: 100%;
}

.verde {
    grid-area: verde;
    background-color: #4caf50;
    border-top-left-radius: 100%;
}

.selected {
    opacity: 0.25;
    transition: .5s ease-out;
}

/* body {
    margin: 0;
    background-color: rgb(53, 53, 53);
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'verde vermelho'
    'amarelo azul';
    grid-gap: 10px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}

.blue {
    grid-area: azul;
    background-color: blue;
    border-bottom-right-radius: 100%;
}

.red {
    grid-area: vermelho;
    background-color: red;
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: amarelo;
    background-color: yellow;
    border-bottom-left-radius: 100%;
}

.green {
    grid-area: verde;
    background-color: green;
    border-top-left-radius: 100%;
}

.selected {
    opacity: 0.25;
} */