body {
    margin: 0;
    background-color: #272727;
}

.principal{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.genius {
    display:grid;
    grid-template-areas:
    'verde          vermelho'
    'amarelo        azul';
    grid-gap: 10px;
    background-color: #fff;
    border-radius: 100%;
    width: 500px;
    height: 500px;
}

.azul {
    grid-area: azul;
    background-color: #00bcd4;
    border-bottom-right-radius: 100%;
}

.vermelho {
    grid-area: vermelho;
    background-color: #f44336;
    border-top-right-radius: 100%;
}

.amarelo {
    grid-area: amarelo;
    background-color: #ffeb3b;
    border-bottom-left-radius: 100%;
}

.verde {
    grid-area: verde;
    background-color: #4caf50;
    border-top-left-radius: 100%;
}

.selected {
    opacity: 0.25;
    transition: .5s ease-out;
}

.pontuacao {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    display: absolute;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.placar {
    text-align: center;
    font-size: 24px;
}
h1 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: -50px;
}

p {
    font-size: 18px;
    text-align: center;
}

button {
    margin: 20px;
    background-color: #4ecf649c;
    border: 5px solid #4ecf6473;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    transition: .3s ease-out;
}

button:hover {
    background-color: #4ecf6473;
    cursor: pointer;
    transform: scale(1.05);
}