body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: rgb(155, 155, 155);
    padding: 0;
    margin: 0;
}

#playArea{
    background-color:black;
    background-image: url(../img/space.png);
    height: 570px;
    width: 600px;
}

.player-shooter{
    position: relative;
    height: 60px;
    width: 70px;
    left: 10px;
    top: 5px;
}

.laser {
    position: relative;
    height: 30px;
    width: 40px;
}